<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <button onclick="
            fnProductReady(1, 2000)
            .then((pResult1) => {
                console.log('fn1' + pResult1);
                return fnProductReady(2, 1000);
            })
            .then((pResult2) => {
                console.log('fn2' + pResult2);
                return fnProductReady(3, 500);
            })
            .then((pResult3) => console.log('fn3' + pResult3));
        ">
            Promise: 상품 배송 시작!
        </button>
    </body>

    <script>
        function fnProductReady(pNum, pTime){
            return new Promise((fnResolve) => {
                setTimeout(() => {
                    console.log(pNum);
                    fnResolve('상품 배달 완료');
                }, pTime);
            });
        }
    </script>
</html>